.subheader {
    position: relative;
    z-index: 40;
    background: #0C0B08;
    height: auto;

    // .subheader__container

    &__container {
    }

    // .subheader__container--wide

    &__container--wide {
    }

    // .subheader__content

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 73px 0px 0px 0px;
    }

    // .subheader__hash

    &__hash {
        flex: 0 1 190px;
        display: flex;
        flex-wrap: wrap;
        writing-mode: vertical-lr;
        justify-content: center;
        align-items: flex-end;
        font-weight: 400;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        transform: rotate(180deg);
        gap: 40px;
    }

    // .subheader__hashbar

    &__hashbar {
    }

    // .subheader__hashgeritch

    &__hashgeritch {
    }

    // .subheader__button

    &__button {
    }

    // .subheader__picture

    &__picture {
        
        
    }

    // .subheader__images

    &__images {
    }

    // .subheader__img

    &__img {
        
    }

    // .subheader__counter

    &__counter {
    }

    // .subheader__scroll

    &__scroll {
        flex: 0 1 190px;
        text-align:end;
        align-self: flex-end;
        position: relative;
        &::before {
            content: '';
            transform: rotate(90deg);
            position: absolute;
            width: 61px;
            height: 1.5px;
            display: block;
            top: -160%;
            left: 60%;
            background: linear-gradient(rgba(220, 202, 135, 1), rgba(220, 202, 135, 1), rgba(220, 202, 135, 0.24));
            @media screen and (max-width: 767.9px) {
                left: 50%;
            }
            @media screen and (max-width: 476.9px) {
                left: 40%;
            }
        }
    }

    // .subheader__scroll-text

    &__scroll-text {
        font-family: 'CormorantUpright';
        flex: 0 1 190px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #DCCA87;
    }
}

.content-main {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

    // .content-main__text

    &__text {
        flex: 0 1 453px;
        padding: 100px 0px 0px 0px;
        @media screen and (max-width: 767.9px) {
            padding: 20px 0px 0px 0px;
        }
    }

    // .content-main__description

    &__description {
        font-family: 'CormorantUpright';
        font-size: 23px;
        line-height: 180%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #FFFFFF;        
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 9px;
            background: url('../img/subheader/decor.svg') 0 0 no-repeat;
        }
    }

    // .content-main__title

    &__title {
        font-family: 'CormorantUpright';
        font-weight: 700;
        font-size: calc(30px + 60 * (100vw / 1920));
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: #DCCA87;
        margin: 8px 0px 32px 0px;
    }

    // .content-main__subtitle

    &__subtitle {
        font-family: 'CormorantUpright';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #AAAAAA;
        margin: 0px 0px 32px 0px;
    }

    // .content-main__picture

    &__picture {
        overflow: hidden;
        flex: 0 1 619px;
        position: relative;
        margin: 10px 0px 50px 0px;
        
    }

    // .content-main__images

    &__images {
        position: relative;
        padding: 0px 0px 58% 0px;
    }

    // .content-main__img

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;        
    }

    // .content-main__counter

    &__counter {
        position: absolute;
        display: block;
        bottom: -20%;
        left: 50%;
    }

    // .content-main__btn

    &__btn {
    }
}
.button {
    margin: 0px 0px 60px 0px;
    

    // .button__link

    &__link {
        font-family: 'CormorantUpright';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #0C0B08;
        padding: 8px 32px;
        background: #DCCA87;
    }
}
