@charset "UTF-8";
@font-face {
  font-family: 'Bestermind';
  src: url("../fonts/BestermindRegular.eot");
  src: local("☺"), url("../fonts/BestermindRegular.woff") format("woff"), url("../fonts/BestermindRegular.ttf") format("truetype"), url("../fonts/BestermindRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantSC';
  src: url("../fonts/CormorantSC-Regular.eot");
  src: local("☺"), url("../fonts/CormorantSC-Regular.woff") format("woff"), url("../fonts/CormorantSC-Regular.ttf") format("truetype"), url("../fonts/CormorantSC-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantSC';
  src: url("fonts/CormorantSC-Bold.eot");
  src: local("☺"), url("../fonts/CormorantSC-Bold.woff") format("woff"), url("../fonts/CormorantSC-Bold.ttf") format("truetype"), url("../fonts/CormorantSC-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantSC';
  src: url("fonts/CormorantSC-SemiBold.eot");
  src: local("☺"), url("../fonts/CormorantSC-SemiBold.woff") format("woff"), url("../fonts/CormorantSC-SemiBold.ttf") format("truetype"), url("../fonts/CormorantSC-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Italic.ttf");
  src: local("☺"), url("../fonts/OpenSans-Italic.woff2") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  src: local("☺"), url("../fonts/OpenSans-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
}

.menu-burger {
  width: 40px;
  height: 1px;
  display: none;
  position: relative;
}

@media (max-width: 696.98px) {
  .menu-burger {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.menu-burger::before, .menu-burger::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-burger::before {
  top: -12px;
}

.menu-burger::before.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-burger::after {
  top: 12px;
}

.menu-burger__line {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: inline-block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.menu-burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.menu-burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(60px + 61 * (100vw / 1920));
}

@media (max-width: 696.98px) {
  .header__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 20px;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}

@media (max-width: 1063.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 696.98px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0px 0px 0px;
    background: #151515;
    border-radius: 15px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header__menu.active {
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    width: 100%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(10px + 22 * (100% / 960));
  height: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 696.98px) {
  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__list {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1920));
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.logo {
  font-family: CormorantSC;
  font-size: calc(23px + 21 * (100vw / 1920));
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: #FFFFFF;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  row-gap: 10px;
  -webkit-column-gap: calc(10px + 20 * (100% / 1360));
          column-gap: calc(10px + 20 * (100% / 1360));
}

@media (max-width: 1063.98px) {
  .action-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    gap: 5px;
  }
}

@media (max-width: 526.98px) {
  .action-header {
    display: none;
  }
}

.action-header__reg {
  font-weight: 600;
  font-size: calc(12px + 4 * (100vw / 1920));
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.action-header__linever {
  width: 1px;
  height: 57px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 255, 255, 0)), color-stop(38%, white), color-stop(51%, white), color-stop(67%, white), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, white 38%, white 51%, white 67%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 1%, white 38%, white 51%, white 67%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, white 38%, white 51%, white 67%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 1063.98px) {
  .action-header__linever {
    display: none;
  }
}

.action-header__book {
  font-weight: 600;
  font-size: calc(12px + 4 * (100vw / 1920));
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}

/*====переменные======*/
@media screen and (max-width: 575.8px) {
  [class*="__container"] {
    width: auto;
  }
}

@media screen and (min-width: 576px) {
  [class*="__container"] {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  [class*="__container"] {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  [class*="__container"] {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  [class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  [class*="__container"] {
    max-width: 1320px;
    margin: 0 auto;
  }
}

[class*="__container"] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

[class*="--wide"] {
  max-width: 1710px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-weight: 700;
}

html {
  font-size: 16px;
  /* по умолчанию */
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'OpenSans', sans-serif;
  background: #0C0B08;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
