@font-face {
	font-family: 'Conv_BestermindRegular';
	src: url('fonts/BestermindRegular.eot');
	src: local('☺'), url('fonts/BestermindRegular.woff') format('woff'), url('fonts/BestermindRegular.ttf') format('truetype'), url('fonts/BestermindRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_CormorantSC-Regular';
	src: url('fonts/CormorantSC-Regular.eot');
	src: local('☺'), url('fonts/CormorantSC-Regular.woff') format('woff'), url('fonts/CormorantSC-Regular.ttf') format('truetype'), url('fonts/CormorantSC-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_CormorantSC-Bold';
	src: url('fonts/CormorantSC-Bold.eot');
	src: local('☺'), url('fonts/CormorantSC-Bold.woff') format('woff'), url('fonts/CormorantSC-Bold.ttf') format('truetype'), url('fonts/CormorantSC-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_CormorantSC-SemiBold';
	src: url('fonts/CormorantSC-SemiBold.eot');
	src: local('☺'), url('fonts/CormorantSC-SemiBold.woff') format('woff'), url('fonts/CormorantSC-SemiBold.ttf') format('truetype'), url('fonts/CormorantSC-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Italic';
	src: url('../fonts/OpenSans-Italic.ttf');
	src: local('☺'), url('../fonts/OpenSans-Italic.woff2') format('woff'), url('fonts/CormorantSC-SemiBold.ttf') format('truetype'), url('fonts/CormorantSC-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff2') format('woff'), url('fonts/CormorantSC-SemiBold.ttf') format('truetype'), url('fonts/CormorantSC-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-SemiBold.ttf');
	src: local('☺'), url('../fonts/OpenSans-SemiBold.woff2') format('woff'), url('fonts/CormorantSC-SemiBold.ttf') format('truetype'), url('fonts/CormorantSC-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}






.header {
    background-color: #fff;
}